.skill-table {
    margin-top: 100px;
}

.skill h2 {
    color: white;
}

.skill img {
    height: 80px;
}

.table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
  }